html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after, .imPageRow:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
html { min-width: 960px; }
html { background-image: url('bg_8pd5xlmg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
#imPage { padding-top: 0; margin-top: 15px; margin-bottom: 15px; min-width: 960px; }
#imHeaderBg { height: 165px; background-image: none; background-color: transparent; }
#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 191px; background-image: url('top.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imHeaderObjects { position: relative; height: 191px; }
#imMnMnContainer { position: absolute; top: 191px; left: 0; right: 0; bottom: 86px; overflow: visible; margin-left: auto; margin-right: auto; }
#imMnMn { float: left; padding: 5px 5px 5px 0px; }
#imMnMn > ul { text-align: left; }
#imMnMnGraphics { left: 0; background-image: url('content_pqwhnl61.jpg'); background-position: left top; background-repeat: repeat-y; background-attachment: scroll; background-color: transparent; }
#imContent { min-height: 380px; padding: 5px 0 5px 0; }
#imContentGraphics { left: 130px; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: url('content_jfsm9a6f.jpg'); background-position: right top; background-repeat: repeat-y; background-attachment: scroll; background-color: transparent; }
#imFooterBg { height: 90px; background-image: none; background-color: transparent; }
#imFooter { margin-left: auto; margin-right: auto; height: 86px; background-image: url('bottom.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imFooterObjects { position: relative; height: 86px; }
#imFooPad { height: 380px; }
#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
#imMnMn { width: 125px; }
#imMnMnGraphics { width: 130px; }
#imContentGraphics { width: 830px; }
